<section class="entries_and_prizes">
  <div class="container"><br>
    <h2 class="">Premios</h2>
    <p>En una emocionante hackathón, se otorgarán premios a tres equipos destacados que hayan demostrado su talento y habilidades excepcionales. Estos equipos finalistas serán recompensados por su arduo trabajo, creatividad y éxito en la competencia. ¡Es un reconocimiento bien merecido para estos destacados participantes en la hackatón!</p>
  <div class="row">

    <div class="col"  *ngFor="let item of premios">

      <div class="card  mt-5">

        <div class="card-body">
          <h5 class="card-title text-center">{{item.nombre}}
            <img [src]="item.img" class="small" alt="">
          </h5>
          <ul>
            <li class="card-text">{{item.premioMonetario |currency}}</li>
            <li class="card-text">{{item.premioFisico}}</li>
            <li class="card-text">{{item.premioDescuento}}</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-12  col-lg-4 col-sm-12">
      <br>
      <form id="form-entries" [formGroup]="formInscription" (ngSubmit)="sendInscription()" class="form-entries">
        <h2 class="text-center">Inscripciones Abiertas</h2>
        <div class="mb-2">
          <label class="entries-label">Nombre:</label>
          <input type="text" formControlName="nombre"  placeholder="Ingrese el nombre" class="form-control" id="nameP" aria-describedby="emailHelp">
        </div>
        <div class="mb-2">
          <label class="entries-label" for="correo" >Correo:</label>
          <input type="email" formControlName="correo" placeholder="Ingrese el Correo electronico" class="form-control" id="correo">
        </div>
        <div class="mb-4">
          <label class="entries-label" for="identi" >Identificacion:</label>
          <input type="number" formControlName="identificacion" placeholder="Numero de Identificacion" class="form-control" id="correo">
        </div>
        <button type="submit" class="btn btn-primary ">Enviar</button>
      </form>
    </div>
  </div>
  </div>
</section>
