<div class="container">
  <section class="description">
    <div class="row">
      <div class="col-md-6">
        <h2 >¿Qué es la Hackathon 2023 de Taxis libres?</h2>
        <p class="fs">
          la Hackathon 2023 es una maratón de desarrollo  en donde pueden participar ingenieros, programadores, diseñadores, comunicadores, analistas de datos y más perfiles.
        </p>
        <h4 >¿Cuando empieza ?</h4>
        <p class="fs">La Hackathon dara inicio el 12 de junio y finalizara el 3 de julio del 2023.</p>
      </div>
      <div class="col-md-6">
        <img class="img-desc" src="../../assets/hire-team.jpg" alt="" />
      </div>
    </div>
    <div class="row objective">
      <h2 class="text-obj text-center">Objetivo de la Hackathon de Taxis Libres  </h2>
      <p class="fs">
      Fomentar la creación de entornos innovadores que permitan a los colombianos desarrollar sus ideas y demostrar su talento, abordando cinco aspectos clave relacionados con la movilidad, la tecnología y la sostenibilidad. Estos aspectos son:


    </p>
    <div class="aspects">
      <ul >
        <li>Transporte aliado para la seguridad en las ciudades.</li>
        <li>Soluciones que incrementen las utilidades a los conductores y propietarios</li>
        <li>Soluciones donde los taxis aporten a la optimización de la logística en ciudades inteligentes</li>
        <li>Alternativas para aportar a la conservación del medio ambiente</li>
        <li>Soluciones que mejoren las experiencias para usuarios y conductores</li>
      </ul>

    </div>

    </div>
  </section>
</div>
